#hud {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 18px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

#muteButton {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#gameCanvas {
  background: linear-gradient(to top, #a2c4f3, #eaf3fa);
  display: none;
}
